@import '@/styles/index.scss';

.favorite-button {
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 1px solid var(--color-icons);
  border-radius: 50%;
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: $effect-duration;

  &:hover {
    border: 1px solid #0F0F11;
  }

  &__icon {
    width: 16px;
    height: 16px;
  }
}
