@import '../../styles/index.scss';

.main {
  display: flex;
  flex-direction: column;
  gap: 56px;

  @include on-tablet {
    gap: 64px;
  }

  @include on-desktop {
    gap: 80px;
  }

  &__title {
    @include content-padding-inline;

    margin-bottom: 24px;

    @include on-tablet {
      margin-bottom: 32px;
    }

    @include on-desktop {
      margin-bottom: 56px;
    }
  }
}
