//@import '../../styles/index.scss';
//
//.card {
//  padding: 32px;
//  border: 1px solid var(--color-elements);
//  border-radius: 8px;
//  background-color: var(--color-white);
//  display: flex;
//  flex-direction: column;
//  gap: 8px;
//  min-width: 232px;
//
//  @include on-tablet {
//    min-width: 245px;
//  }
//
//  @include on-desktop {
//    min-width: 277px;
//  }
//
//  @include hover {
//    box-shadow: 0 2px 16px 0 #0000001a;
//  }
//
//  .img {
//    height: 148px;
//    width: 129px;
//    margin: auto;
//    cursor: pointer;
//    object-fit: contain;
//
//    &__link {
//      display: flex;
//    }
//
//    @include on-tablet {
//      height: 202px;
//      width: 173px;
//    }
//
//    @include on-desktop {
//      height: 208px;
//      width: 196px;
//    }
//
//    @include hover {
//      transform: scale(1.03);
//      z-index: 5;
//    }
//  }
//
//  .title {
//    font-size: 14px;
//    font-weight: 700;
//    line-height: 21px;
//
//    padding-top: 16px;
//    height: 60px;
//    cursor: pointer;
//
//    @include hover {
//      color: #78787a;
//    }
//  }
//
//  .price {
//    display: flex;
//    align-items: center;
//    gap: 8px;
//
//    &__actual {
//      font-size: 32px;
//      font-weight: 800;
//      line-height: 41px;
//      letter-spacing: -0.01em;
//    }
//
//    &__old {
//      font-size: 22px;
//      font-weight: 600;
//      line-height: 28.12px;
//      color: var(--color-secondary);
//      text-decoration: line-through;
//    }
//  }
//
//  .divider {
//    border: 1px solid var(--color-elements);
//  }
//
//  .specs {
//    padding-block: 8px;
//    display: flex;
//    flex-direction: column;
//    gap: 8px;
//
//    &__item {
//      display: flex;
//      justify-content: space-between;
//    }
//
//    &__key {
//      font-weight: 700;
//      color: var(--color-secondary);
//    }
//
//    &__value {
//      font-weight: 700;
//    }
//  }
//
//  .buttons {
//    display: flex;
//    justify-content: space-between;
//    gap: 8px;
//
//    &__add {
//      color: var(--color-white);
//      background-color: var(--color-accent);
//      border-radius: 48px;
//      padding: 9.5px 0;
//      width: 75%;
//      cursor: pointer;
//
//      @include hover {
//        box-shadow: 0 3px 13px 0 #17203166;
//      }
//
//      &--active {
//        border: 1px solid var(--color-elements);
//        color: var(--color-accent);
//        background-color: #fafbfc;
//      }
//    }
//
//    &__like {
//      border: 1px solid var(--color-icons);
//      border-radius: 48px;
//      cursor: pointer;
//      background-image: url(../../assets/img/icons/like.svg);
//      background-repeat: no-repeat;
//      background-position: center;
//      background-size: 16px;
//      width: 40px;
//      height: 40px;
//
//      @include hover {
//        border: 1px solid var(--color-primary);
//      }
//
//      &--active {
//        background-image: url(../../assets/img/icons/like-active.svg);
//      }
//    }
//  }
//}

@import '@/styles/index.scss';

.product {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 8px;
  border: 1px solid var(--color-elements);
  padding: 32px;
  border-radius: 8px;
  background-color: var(--card-color-bg);
  width: 100%;
  height: 100%;

  @include hover-active(
                  (box-shadow: 0 2px 16px 0 #0000001A)
  );

  &__image {
    display: block;
    margin: 0 auto;
    height: 100%;
    flex: 1 1;
    width: 100%;
    object-fit: scale-down;
    @include hover-active(
                            (transform: scale(1.1))
    )
  }

  &__image-link {
    margin: 0 auto;
    //height: 100%;
    display: flex;
    height: 50px;
    width: 100%;
    flex: 1 1;
  }

  &__name {
    padding-top: 16px;
    font-weight: 600;
    font-size: 14px;
    color: var(--color-primary);
    @include hover-active(
                            (color: 'lightblue')
    )
  }

  &__prices {
    display: flex;
    gap: 8px;
    align-items: center;

    &--current {
      font-weight: 800;
      font-size: 22px;
      color: var(--color-primary);
      line-height: 30.8px;

    }

    &--regular {
      font-weight: 600;
      font-size: 22px;
      color: var(--color-secondary);
      position: relative;
      isolation: isolate;

      &::after {
        content: '';
        height: 2px;
        width: 102%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: var(--color-secondary);
        mix-blend-mode: color-dodge;
        left: -1%;
      }
    }

  }

  &__specs {
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &-container {
      display: flex;
      justify-content: space-between;
    }

    &-name {
      font-size: 12px;
      color: var(--color-secondary);
      font-weight: 700;
    }

    &-value {
      font-size: 12px;
      font-weight: 700;
      color: var(--color-primary);

    }
  }

  &__decorative-line {
    height: 1px;
    width: 100%;
    background-color: var(--color-elements);
  }

  &__buttons-container {
    display: flex;
    justify-content: space-between;
    gap: 8px;
  }

}
