@import './../../styles/index.scss';

.amountProducts {
  width: 14px;
  height: 14px;

  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);

  font-size: 9px;
  font-weight: 700;
  text-align: center;
  line-height: 13px;

  color: var(--color-white);
  background-color: var(--color-accent);
  border: 1px solid var(--color-white);
  border-radius: 50%;

  &Header {
    transform: translate(-60%, 60%);

    @include on-desktop {
      transform: translate(-119%, 122%);
    }
  }

  &GreaterThan99 {
    width: 18px;
  }

  &GreaterThan999 {
    width: 23px;
  }
}

