@import '../../styles/index.scss';

.header {
  &__nav {
    display: none;

    @include on-tablet {
      display: flex;
      gap: 16px;
      justify-content: space-between;
      height: 48px;
      width: 100%;
    }

    &--list {
      display: flex;
      align-items: center;
      gap: 32px;

      @include on-desktop {
        gap: 64px;
      }
    }

    &--item {
      gap: 32px;

      &_link {
        text-decoration: none;
        font-family: Mont, sans-serif;
        font-weight: 800;
        font-size: 12px;
        line-height: 11px;
        letter-spacing: 4%;
        color: var(--color-secondary);

        &--active {
          color: var(--color-primary);
          border-bottom: 2px solid var(--color-primary);

          @include on-tablet {
            padding-bottom: 11px;
          }

          @include on-desktop {
            padding-bottom: 20px;
          }
        }
      }

      &_link:hover {
        color: var(--color-primary);
      }
    }
  }

  &__theme {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--border-color);
    cursor: pointer;
    color: var(--color-primary);

    &:hover {
      background-color: var(--elements-color);
    }

    @include on-desktop {
      width: 64px;
      height: 64px;
    }

    &-button {
      font-family: Mont, sans-serif;
      font-weight: 800;
      font-size: 12px;
      line-height: 11px;
      letter-spacing: 4%;
      color: var(--text-color);
      cursor: pointer;

      &-img {
        width: 24px;
        height: 24px;
        display: flex;
      }
    }
  }

  &__lang {
    width: 48px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 1px solid var(--border-color);
    cursor: pointer;

    &:hover {
      background-color: var(--elements-color);
    }

    @include on-desktop {
      width: 64px;
      height: 64px;
    }

    &-button {
      font-family: Mont, sans-serif;
      font-weight: 800;
      font-size: 12px;
      line-height: 11px;
      letter-spacing: 4%;
      color: var(--text-color);
      cursor: pointer;
    }
  }

  &__logo {
    padding: 16px;
    fill: white;

    @include on-desktop {
      padding: 18px 24px;
    }

    &_img {
      height: 22px;
      width: 64px;

      @include on-desktop {
        height: 28px;
        width: 80px;
      }
    }
  }
}

.burger_menu_icon {
  padding: 13px;
  height: 48px;
  width: 48px;
  border-left: 1px solid var(--elements-color);
  display: flex;
  justify-content: center;
  align-items: center;

  &_link {
    height: 16px;
    width: 16px;
  }

  &_img {
    display: flex;
    justify-content: center;
  }

  @include on-tablet {
    display: none;
  }
}

.burger_menu {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  background-color: var(--bg-color);
  z-index: 0;
  transform: translateX(-100%);
  transition: transform 0.3s;

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    border-bottom: 1px solid var(--elements-color);
  }

  &__logo {
    padding: 16px;

    &_img {
      height: 22px;
      width: 64px;
    }
  }

  &__icon {
    padding: 16px;
    height: 48px;
    width: 48px;
    border-left: 1px solid var(--elements-color);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-primary);

    &_img {
      display: flex;
      justify-content: center;
    }
  }

  &__nav {
    display: flex;
    justify-content: center;
    margin-top: 24px;
    width: 100%;

    &--list {
      display: flex;
      gap: 16px;
      flex-direction: column;
    }

    &--item {
      text-align: center;

      &_link {
        text-decoration: none;
        font-family: Mont, sans-serif;
        font-weight: 800;
        font-size: 12px;
        line-height: 11px;
        letter-spacing: 4%;
        color: var(--color-secondary);

        &--active {
          border-bottom: 1px solid var(--color-primary);
        }
      }

      &_link:hover {
        color: var(--text-color);
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;

    &-theme {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &-button {
        &-img {
          width: 24px;
          height: 24px;
          display: flex;
        }
      }
    }

    &-lang {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      &-button {
        font-family: Mont, sans-serif;
        font-weight: 800;
        font-size: 12px;
        line-height: 11px;
        letter-spacing: 4%;
        color: var(--text-color);
      }
    }

    &-fav {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-cart {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &_icon {
      height: 64px;
      width: 100%;
      position: relative;
      border: 1px solid var(--elements-color);
      color: var(--color-primary);

      &:hover {
        background-color: var(--elements-color);
      }

      &--img {
        position: relative;

        &-count {
          width: 14px;
          height: 14px;
          background-color: var(--color-red);
          border: 2px solid var(--color-white);
          border-radius: 50%;
          position: absolute;
          top: 30%;
          left: 50%;
          font-family: Mont, sans-serif;
          font-weight: 700;
          font-size: 9px;
          line-height: 11.5px;
          color: var(--color-white);
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
