@import '@/styles/index.scss';

.button {
  display: flex;
  gap: 4px;
  align-items: center;

  &:hover > &__text {
    color: var(--color-primary);
  }

  &__image {
    height: 16px;
    width: 16px;
  }

  &__text {
    color: var(--color-secondary);
    font-size: 12px;
    font-weight: 700;
    line-height: 15.34px;
    transition: color $effect-duration;
  }
}
