.grid {
  display: grid;
  margin: 0 auto;
  grid-auto-columns: 287px;
  grid-auto-rows: 440px;
  grid-template-columns: repeat(auto-fit, 287px);
  column-gap: 16px;
  row-gap: 40px;
  justify-content: center;

  @include on-tablet {
    grid-auto-columns: minmax(229px, 288px); //229
    grid-auto-rows: 506px;
    grid-template-columns: repeat(auto-fit, minmax(229px, 1fr));
  }

  @include on-desktop {
    grid-auto-columns: 272px;
    grid-template-columns: repeat(auto-fill, 272px);
  }
}