@import '../../styles/index.scss';

.productSlider {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 24px;

  &__header {
    display: flex;
    justify-content: space-between;
    gap: 16px;

    @include content-padding-inline;

    .title {
      font-size: 22px;
      font-weight: 800;
      line-height: 30.8px;

      @include on-tablet {
        font-size: 32px;
        font-weight: 800;
        line-height: 41px;
        letter-spacing: -0.01em;
      }
    }

    .arrows {
      display: flex;
      gap: 16px;
      align-items: center;

      &__left {
        height: 32px;
        width: 32px;
        padding: 8px;
        border: 1px solid var(--color-elements);
        border-radius: 48px;
        cursor: pointer;
        background-image: url(../../assets/img/icons/arrow-right.svg);
        transform: scaleX(-1);
        background-repeat: no-repeat;
        background-position: center;

        &--active {
          background-image: url(../../assets/img/icons/arrow-right-active.svg);
          transform: scaleX(-1);
          background-repeat: no-repeat;
          background-position: center;
          border: 1px solid var(--color-icons);
        }
      }

      &__right {
        height: 32px;
        width: 32px;
        padding: 8px;
        border: 1px solid var(--color-elements);
        border-radius: 48px;
        cursor: pointer;
        background-image: url(../../assets/img/icons/arrow-right.svg);
        background-repeat: no-repeat;
        background-position: center;

        &--active {
          background-image: url(../../assets/img/icons/arrow-right-active.svg);
          background-repeat: no-repeat;
          background-position: center;
          border: 1px solid var(--color-icons);
        }
      }
    }
  }

  .productCard {
    display: flex;
    gap: 16px;
    @include content-padding-inline;
    overflow-x: auto;

    @include on-tablet {
      @include content-padding-inline;
    }

    @include on-desktop {
      padding-left: 32px;
    }
  }
}
