@import '../../styles/index';

.SliderButton {
  width: 32px;
  height: 32px;
  border: 1px solid --color-icons;
  color: --color-icons;

  display: flex;
  justify-content: center;
  align-items: center;
  transition: all $effect-duration;

  &:hover {
    border: 1px solid #313237;
  }

  &:disabled {
    border: 1px solid --color-icons;

    & path {
      fill: --color-icons;
    }
  }
}
