@mixin on-tablet {
  @media (min-width: $min-tablet-width) {
    @content;
  }
}

@mixin on-desktop {
  @media (min-width: $min-desktop-width) {
    @content;
  }
}

@mixin hover {
  transition: all 0.3s ease;

  &:hover {
    @content;
  }
}

@mixin content-padding-inline {
  padding-inline: 16px;

  @include on-desktop {
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 24px;
  }
}

@mixin uppercase {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 800;
  line-height: 11px;
  letter-spacing: 0.04em;
  
  @content;
}

@mixin small-text {
  font-size: 12px;
  font-weight: 600;
  line-height: 15.34px; // use % or rem (15.34 px is imposible value)
  
  @content;
}

@mixin page-grid {
  --columns: 4;

  display: grid;
  column-gap: 16px;
  grid-template-columns: repeat(var(--columns), 1fr);

  @include on-tablet {
    --columns: 12;
  }

  @include on-desktop {
    --columns: 24;
  }
}
