body, // move to reset.scss
h1,
h2,
h3,
h4,
p,
a,
button {
  margin: 0;
  padding: 0;
}

a {
  // move to reset.scss
  text-decoration: none;
  color: inherit;
}

img {
  // move to reset.scss
  display: block;
}

* {
  box-sizing: border-box;
  font-size: 14px;
  font-family: Mont, sans-serif, 'Helvetica Neue';
}
