@import '../../styles/index.scss';

.card {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--color-white);
  border: 1px solid var(--color-elements);
  border-radius: 16px;
  padding: 16px;

  @include on-tablet {
    padding: 24px;
    flex-direction: row;
  }
}
