@import '../../styles/index';

.footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 16px;
  background-color: var(--color-white);
  box-shadow: 0 -1px 0 0 var(--color-action);
  margin-top: 56px;

  @include on-tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px;
    gap: 0;
    margin-top: 64px;
  }

  @include on-desktop {
    margin-top: 80px;
  }

  .logo {
    width: 89px;
    height: 32px;

    &__link {
      display: flex;
    }
  }

  .nav {
    &__list {
      display: flex;
      flex-direction: column;
      gap: 16px;

      @include on-tablet {
        flex-direction: row;
        justify-content: space-between;
        gap: 32px;
      }

      @include on-desktop {
        gap: 108px;
      }
    }

    &__item {
      width: fit-content;
    }

    &__link {
      @include uppercase;
  
      color: var(--color-secondary);
    }
  }

  .backToTop {
    all: unset;
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include small-text;

    &__text {
      color: var(--color-secondary);
    }

    &:hover > span {
      animation: back-text-move var($effect-duration) infinite alternate linear;
    }

    &__button {
      background-image: url(../../assets/images/icons/chevron-up.svg);
      background-repeat: no-repeat;
      background-position: center;
      height: 32px;
      width: 32px;
      padding: 8px;
      border: 1px solid var(--color-icons);
      border-radius: 48px;
    }
  }
}

@keyframes back-text-move {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-4px);
  }
}