@import '@/styles/index';

.button {
  user-select: none;
  width: 32px;
  height: 32px;
  border-radius: var(--border-radius-swiper);
  color: var(--color-swiper-arrow);
  border: 1px solid var(--color-swiper-border);
  background-color: var(--color-swiper-background);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border $effect-duration;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0;
    height: 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    transition: width 0.1s ease, height 0.1s ease;
  }

  @include hover-active(
                          (border: 1px solid var(--round-button-hover))
  );

  &:active::after {
    width: 32px;
    height: 32px;
  }

  &[disabled] {
    color: var(--color-swiper-arrow-disabled);
    border: 1px solid var(--color-swiper-border-disabled);
    background-color: #ffffff00;
    cursor: default;

    &:hover {
      border: 1px solid var(--color-action);
    }

    &:active::after {
      width: 0;
      height: 0;
    }
  }

  &__icon {
    width: 16px;
  }
}