@import '@/styles/index';

.button {
  user-select: none;
  width: 32px;
  height: 32px;
  border-radius: var(--border-radius-swiper);
  color: var(--color-swiper-arrow);
  border: 1px solid var(--color-swiper-border);
  background-color: var(--color-swiper-background);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border $effect-duration;

  &:active {
    border: 1px solid #0F0F11;
  }

  &[disabled] {
    color: var(--color-swiper-arrow-disabled);
    border: 1px solid var(--color-swiper-border-disabled);
    background-color: #ffffff00;
    cursor: default;

    &:hover {
      border: 1px solid var(--color-action);
    }
  }

  &__icon {
    width: 16px;
  }
}