@import '../../styles/index.scss';

.product {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: var(--card-color-bg);
  border: 1px solid var(--color-elements);
  border-radius: 16px;
  padding: 16px;
  justify-content: space-between;
  color: var(--card-text-color);

  @include on-tablet {
    padding: 24px;

    flex-direction: row;
    gap: 24px;
    justify-content: space-between;
  }

  .about {
    display: flex;
    align-items: center;
    gap: 16px;

    &__close {
      height: var(--color-icons)-size;
      width: var(--color-icons)-size;
      cursor: pointer;
      fill: var(--color-icons);

      @include hover {
        fill: var(--color-primary);
        transform: scale(1.01);
      }
    }

    &__imgLink {
      display: flex;

      @include hover {
        transform: scale(1.03);
      }
    }

    &__img {
      width: 80px;
      height: 80px;
      object-fit: contain;
    }

    &__title {
      @include hover {
        color: #78787a;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include on-tablet {
      gap: 24px;
    }

    &__buttons {
      display: flex;
      align-items: center;
      gap: 14px;
      width: 100px;
      text-align: center;

      &__button {
        background: none;
        //border: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        min-width: 32px;
        min-height: 32px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--color-icons);

        @include hover-active(
                                (border: 1px solid var(--color-primary))
        );

        &__inner {
          width: 16px;
          height: 16px;

          &--disabled {
            fill: green;
          }
        }

        &--unactive {
          cursor: default;
          color: var(--color-icons);
          border: 1px solid var(--color-action);

          @include hover-active(
                          (border: 1px solid var(--color-action))
          );
        }
      }

      &__count {
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;

        width: 20px;
      }
    }

    &__price {
      //color: var(--card-price-color);
      font-size: 32px;
      font-weight: 800;
      line-height: 41px;
      letter-spacing: -0.01em;
      margin-right: 16px;

      width: clamp( 4ch, 5ch, 6ch );

      @include on-tablet {
        margin-right: 16px;
      }
    }
  }
}
