@import '../../styles/index.scss';

.itemCard {
  @include content-padding-inline;
  @include page-grid;

  .breadcrumbs {
    grid-column: 1 / -1;
  }

  .backButton {
    display: flex;
    gap: 4px;
    align-items: flex-end;
    width: fit-content;
    cursor: pointer;

    grid-column: 1 / -1;

    @include hover {
      transform: scale(1.01);
    }

    &__arrow {
      background-image: url(../../assets/img/icons/arrow-right-active.svg);
      background-repeat: no-repeat;
      background-position: center;
      width: var(--color-icons)-size;
      height: var(--color-icons)-size;
      transform: scaleX(-1);
    }

    &__text {
      font-weight: 700;
      color: var(--color-secondary);

      @include hover {
        color: var(--color-primary);
      }
    }
  }

  .title {
    font-size: 22px;
    font-weight: 800;
    line-height: 30.8px;

    margin-top: 16px;
    margin-bottom: 32px;

    grid-column: 1 / -1;

    @include on-tablet {
      font-size: 32px;
      font-weight: 800;
      line-height: 41px;
      letter-spacing: -0.01em;

      margin-bottom: 40px;
    }
  }

  .slider {
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 7;
    }

    @include on-desktop {
      grid-column: span 12;
    }

    display: grid;
    grid-template-columns: 1fr;
    column-gap: 16px;

    @include on-tablet {
      grid-template-columns: repeat(7, 1fr);
    }

    @include on-desktop {
      grid-template-columns: repeat(12, 1fr);
    }

    .mainImg {
      grid-column: 1 / -1;

      @include on-tablet {
        grid-column: span 6;
      }

      @include on-desktop {
        grid-column: span 10;
      }
    }

    &__img {
      display: flex;
      width: 100%;
      aspect-ratio: 1 / 1;
      object-fit: contain;
    }

    &__slide {
      display: flex;
    }

    .thumbs {
      grid-column: 1 / -1;

      @include on-tablet {
        grid-column: span 1;
        grid-row: 1;
      }

      @include on-desktop {
        grid-column: span 2;
      }
    }

    &__thumbs {
      width: 80px;
      height: 80px;
      object-fit: contain;
      padding: 2px;
      border: 1px solid var(--color-elements);
      border-radius: 4px;
      cursor: pointer;

      @include on-tablet {
        width: 100%;
      }

      &--active {
        border: 1px solid var(--color-primary);
      }
    }
  }

  .main {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: span 5;
    }

    @include on-desktop {
      grid-column: 15 / span 7;
    }

    .selections {
      display: flex;
      flex-direction: column;
      gap: 24px;

      .colors {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &__text {
          display: flex;
          justify-content: space-between;

          &__available {
            color: var(--color-secondary);
          }

          &__id {
            color: var(--color-icons);
            font-weight: 700;
          }
        }

        &__selection {
          display: flex;
          gap: 8px;
          width: fit-content;

          &__container {
            height: 32px;
            width: 32px;
            border: 1px solid var(--color-elements);
            border-radius: 36px;
            cursor: pointer;

            @include hover {
              border: 1px solid var(--color-icons);
            }

            &--active {
              height: 32px;
              width: 32px;
              border: 1px solid var(--color-primary);
              border-radius: 36px;
            }
          }

          &__color {
            height: 30px;
            width: 30px;
            border-radius: 36px;
            border: 2px solid var(--color-white);
          }
        }
      }

      .divider {
        border: 1px solid var(--color-elements);
      }

      .capacity {
        display: flex;
        flex-direction: column;
        gap: 8px;

        &__text {
          color: var(--color-secondary);
        }

        &__size {
          display: flex;
          gap: 8px;

          &__container {
            font-size: 14px;
            font-weight: 700;
            line-height: 21px;

            border: 1px solid var(--color-icons);
            border-radius: 4px;
            padding: 7px 8px 4px;
            cursor: pointer;

            &--active {
              color: var(--color-white);
              background-color: var(--color-primary);
              cursor: default;
            }
          }
        }
      }
    }

    .actions {
      display: flex;
      flex-direction: column;
      gap: 16px;

      .price {
        display: flex;
        gap: 8px;
        align-items: center;

        &__discountPrice {
          font-size: 32px;
          font-weight: 800;
          line-height: 41px;
          letter-spacing: -0.01em;
        }

        &__fullPrice {
          font-size: 22px;
          font-weight: 500;
          line-height: 28.12px;
          color: var(--color-secondary);
          text-decoration: line-through;
        }
      }

      .buttons {
        display: flex;
        gap: 8px;
        align-items: center;

        &__addToCart {
          padding: 13.5px;
          width: 100%;
          text-align: center;
          background-color: var(--color-accent);
          border-radius: 48px;
          color: var(--color-white);
          cursor: pointer;

          @include hover {
            box-shadow: 0 3px 13px 0 #17203166;
          }

          &--active {
            border: 1px solid var(--color-elements);
            color: var(--color-accent);
            background-color: #fafbfc;
          }
        }

        &__like {
          padding: 16px;
          border: 1px solid var(--color-icons);
          border-radius: 40px;
          cursor: pointer;

          @include hover {
            border: 1px solid var(--color-primary);
          }

          &__icon {
            background-image: url(../../assets/img/icons/like.svg);
            background-repeat: no-repeat;
            background-position: center;
            height: var(--color-icons)-size;
            width: var(--color-icons)-size;

            &--active {
              background-image: url(../../assets/img/icons/like-active.svg);
            }
          }
        }
      }
    }

    .specification {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &__item {
        display: flex;
        justify-content: space-between;

        &__key {
          color: var(--color-secondary);
        }

        &__value {
          font-weight: 700;
        }
      }
    }
  }

  .about {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 32px;

    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: span 12;
    }

    &__title {
      font-size: 20px;
      font-weight: 700;
      line-height: 25.56px;

      padding-bottom: 16px;
      border-bottom: 1px solid var(--color-elements);
    }

    &__item {
      display: flex;
      flex-direction: column;
      gap: 16px;

      &__title {
        font-size: 16px;
        font-weight: 700;
        line-height: 20.45px;
      }

      &__description {
        font-size: 14px;
        font-weight: 700;
        line-height: 21px;

        color: var(--color-secondary);
      }
    }
  }

  .techSpecs {
    margin-top: 56px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    grid-column: 1 / -1;

    @include on-desktop {
      grid-column: 14 / span 11;
    }

    &__title {
      font-size: 16px;
      font-weight: 700;
      line-height: 20.45px;

      padding-bottom: 16px;
      border-bottom: 1px solid var(--color-elements);
    }

    .characteristics {
      display: flex;
      flex-direction: column;
      gap: 8px;

      &__item {
        display: flex;
        justify-content: space-between;

        &__key {
          font-size: 14px;
          font-weight: 700;
          line-height: 21px;

          font-weight: 500;

          color: var(--color-secondary);
        }

        &__value {
          font-size: 14px;
          font-weight: 700;
          line-height: 21px;
        }
      }
    }
  }

  .productSlider {
    margin-top: 56px;

    grid-column: 1 / -1;
  }

  .notFoundProduct {
    text-align: center;
    background-color: var(--color-white);
    border: 1px solid var(--color-elements);
    border-radius: 36px;
    padding: 16px;
    margin-top: 32px;
    grid-column: 1 / -1;

    @include on-tablet {
      grid-column: 2 / -2;
      padding: 24px;
    }

    @include on-desktop {
      grid-column: 6 / -6;
      padding: 32px;
    }

    &__title {
      font-size: 32px;
      font-weight: 800;
      line-height: 41px;
      letter-spacing: -0.01em;

      @include on-tablet {
        font-size: 48px;
        font-weight: 800;
        line-height: 56px;
        letter-spacing: -0.01em;
      }
    }

    &__img {
      width: 100%;
    }
  }
}
